/** 底部导航 **/
.sfooter{
	&.nav-menu{
		background: rgba(255,255,255,0.95);
	    padding-top: 1px;
	    color: #222;
	    position: fixed;
	    width: 100%;
	    left: 50%;
	    bottom: 0;
	    max-width: 767px;
	    -webkit-transform: translateX(-50%);
	    transform: translateX(-50%);
	    border-top: 1px solid rgba(204,204,204,0.5);
	    .navfelx .childcell .menuicon{
	    	color: #222;
	    	padding: 2px 6px 5px;
	    	margin-bottom: 0;
	    	&.active{
	    		color: #BE8914;
	    		.img.choice,.img.find,.img.cart,.img.owner{
	    			background-image: url(/images/fiushop/sfooter2.png);
	    		}
	    	}
	    	.img {
			    display: block;
			    margin: 0 auto 4px;
			    vertical-align: middle;
			    background-image: url(/images/fiushop/sfooter1.png);
			    background-repeat: no-repeat;
			    background-size: 88px 18px;
			    &.choice{
			    	height: 18px;
					width: 20px;
				    background-position: 0 0;
			    }
			    &.find{
			    	height: 18px;
					width: 26px;
				    background-position: -63px 3px;
			    }
			    &.cart{
			    	height: 18px;
					width: 22px;
				    background-position: -20px 0;
			    }
			    &.owner{
			    	height: 18px;
					width: 21px;
				    background-position: -42px 0;
			    }
			}
	    }
	}
}
.ui.fiushop{
	padding-bottom: 50px;
	.ui.sheader{
		background:#fff;
		p{
			font-size: 17px;
			line-height: 50px;
			color: #222;
			text-align: center;
		}
	}
	.hotshop{
		background: #fff;
		p{
			padding: 4px 5px;
		    font-size: 12px;
		    color: #222;
		    a{
		    	color: #222;
				margin: 0 5px;
		    }
		}
	}
	.fiulist{ 
		.recom-cell a{
			background-size: 100% 100%;
			background-position: center center;
			background-repeat: no-repeat;
			background-color: #f5f5f5;
			.uidesc{
				width: 100%;
				height:60px;
				font-size: 17px;
				color: #fff;
				position:absolute;
				top:50%;
				margin-top: -30px;
				line-height: 60px;
				left: 0;
				text-align: center;
			}
		}
	}
	.haohuo{
		h4.ui.header{
			font-size: 14px;
			color: #222 !important;
			font-weight: 400;
			img{
				width: 20px;
				vertical-align: bottom;
				margin-right: 5px;
			}
		}
		.banner{
			position: relative;
			padding-top: 56.26667%; 
			display: block;
			.hdtitle{
				font-size: 13px;
				color: #fff;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate3d(-50%,0,0);
				-webkit-transform: translate3d(-50%,0,0);
				background:rgba(190,137,20,0.8);
				padding: 6px 15px;
				z-index: 9;
			    max-width: 60%; 
			    p{
					overflow: hidden;
			    	white-space: nowrap;
			    	text-overflow: ellipsis;
				}
			}
			&::after{
				width: 20px;
				height: 13px;
				content: "";
				background-image: url(/images/fiushop/shape.png);
				background-size: 20px 13px;
				bottom:-1px;
				left: 50%;
				margin-left: -10px;
				position: absolute;
			}
			img{
				width: 100%;
				height:100%;
				position: absolute;
				left: 0;
				top: 0;
			}
			.content{
				position: absolute;
				letter-spacing: 2px;
			    color: #fff !important;
			    text-align: center;
			    left: 50%;
			    top: 50%;
			    max-width: 100%;
			    transform: translate3d(-50%,-50%,0);
			    -webkit-transform: translate3d(-50%,-50%,0);
			    h3 {
				    height: 35px;
				    line-height: 40px;
				    letter-spacing: 0;
				    color: #fff !important;
				    text-align: center;
				    margin: 0 60px 5px;
				    font-size: 17px;
				    padding: 0;
				    white-space: nowrap;
				    max-width: 100%;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    border-bottom: 1px solid #fff;
				}
				p {
					font-size: 12px;
					margin: 10px 30px 5px;
				}
			}
		}
	}
	.overhidden{
		overflow: hidden;
		height: 181px;
		.shopitem{
			margin-top: 15px;
			white-space: nowrap;
		    width: 100%;
		    overflow: scroll;
		    -webkit-overflow-scrolling: touch;
		    padding: 0;
		    height: 180px;
		    &::-webkit-scrollbar {
			    display: none;
			}
			li{
				display: inline-block;
			    width: 110px;
			    margin-right: 10px;
			    background-color: #fff;
			    white-space: normal;
			    overflow: hidden;
			    a{
					padding-top: 100%;
					display: block;
					position: relative;
					background-color: #fff;
					img{
						width: 100%;
						height: auto;
						position: absolute;
						top: 0;
						left: 0;
					} 
					.desc {
				    	padding: 5px 5px 0;
				    	text-align: left;
				    	border-top: 1px solid #f5f5f5; 
				    	font-size: 12px;
					    color: #222;
					    white-space: nowrap;
					    text-overflow: ellipsis;
					    overflow: hidden;
					    h2{
					    	font-size: 12px;
					    	font-weight: 400;
						    overflow: hidden;
						    margin: 0;
						    text-overflow: ellipsis;
						    white-space: nowrap;
						    height: 20px;
						    line-height: 20px;
					    }
					    .cats{
					    	color: #BE8914;
					    	font-size: 13px;
						    height: 30px;
						    padding: 0;
						    text-transform: uppercase;
						    line-height: 25px;
					    }
				    }
				}
			}
		}
	}
}
/*** 顶部菜单 ***/
.ui.catemenu{
	background:#fff;
	height: 50px;
	text-align: center;
	box-shadow: 0 2px 3px 0 rgba(204,204,204,0.5);
    -webkit-box-shadow: 0 2px 3px 0 rgba(204,204,204,0.5);
	a{
		font-size: 17px;
	    color: #222;
	    margin: 0 15px;
	    line-height: 49px;
	    height: 49px;
	    padding: 12px 0 14px;
	    &.active{
			color: #BE8914;
			border-bottom: 2px solid #BE8914;
		}
	}
}
/*** 品牌 ***/
.ui.brand{
	padding-bottom: 50px;
	#mpresale .recom-item .recom-cell{
		padding-left: 0;
		padding-right: 7px;
		margin: 7px 0;
		&:nth-child(2n){
			padding-left: 7px;
			padding-right: 0;
		}
		.desc{
			height: 75px;
			padding: 0 10px;
			color: #222;
			font-size: 14px;
			line-height: 25px;
			text-align: left;
			padding-top: 3px;
			img{
				width: 22px;
			    height: 22px;
			    border-radius: 50%;
			    vertical-align: middle;
			    position: relative;
			    margin-right: 5px;
			}
		}
	}
	&.list{
		#mpresale .recom-item .recom-cell .desc{
			height: 60px;
			padding: 5px 10px 0;
			border-top: 1px solid #f5f5f5;
			h2{
				color: #222;
				text-align: left;
			}
			.cats{
				color: #BE8914;
				text-align: left;
			}
		}
	} 
	.brandlg{
		padding-top: 56.267%;
		background-size: 100% 100%;
		background-color: #eee;
		position: relative;
		margin-bottom: 35px;
		p{
			height: 50px;
			color: #fff;
			font-size: 17px;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			text-align: center;
			line-height: 50px;
			margin:0;
		}
		img{
			width: 74px;
			height: 74px;
			position: absolute;
			bottom: -30px;
			left: 50%;
			margin-left: -37px;
			border-radius: 37px;
		}
	}
	.masx p{
		font-size: 12px;
		color: #222;
	}
	#mpresale .recom-item .recom-cell .desc.shoplist{
		height: 55px;
		padding: 5px 5px 0;
	    text-align: center;
	    font-size: 12px;
	    color: #222;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    h2{
			font-size: 12px;
		    font-weight: 400;
		    overflow: hidden;
		    margin: 0;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		    height: 20px;
		    line-height: 20px;
		    text-align: center;
		}
		.cats {
		    color: #BE8914;
		    font-size: 13px;
		    height: 30px;
		    padding: 0;
		    text-transform: uppercase;
		    line-height: 25px;
		    text-align: center;
		}
	}
}
/*** 品类 ***/
.ui.category{
	padding-bottom: 65px;
	a.catelist{
		padding-top: 33.803%;
	    display: block;
	    position: relative;
	    width: 100%;
	    height: 100%;
	    background-size: 100% 100%;
	}
	/*** 列表页 ***/
	.fmenulist{
		height: 60px;
		background:#fff;
		overflow: hidden;
		//box-shadow: 0 2px 3px 0 rgba(204,204,204,0.5);
        //-webkit-box-shadow: 0 2px 3px 0 rgba(204,204,204,0.5);
		.menuitem{
			padding: 0;
		    margin: 0;
		    height: 68px;
		    white-space: nowrap;
		    width: 100%;
		    overflow-x: scroll;
	    	overflow-y: hidden;
	    	-webkit-overflow-scrolling: touch;
	    	&::-webkit-scrollbar {
			    display: none;
			}
			li{
				width: 65px;
			    display: inline-block;
			    text-align: center;
			    padding: 10px 0;
			    height: 60px;
			    p{
					font-size: 12px;
					color: #666;
				}
				.catename{
					width: 24px;
			    	height: 24px;
					margin:-1px auto 2px;
					background-size: 48px 24px;
				}
				&.active,a.active{
					.catename{
						background-position: 24px 0;
					}
					p{
						color: #BE8914;
					}
				}
			}
		}
	}
	/*** 推荐按钮 ***/
	.groom-btn{
		margin-top: 1px;
		background:#fff;
		height: 44px;
		border-bottom: 1px solid #f5f5f5;
		padding: 10px 0;
		overflow: hidden;
		.groom-list{
			height: 44px;
		    overflow: scroll;
		    white-space: nowrap;
		    padding: 0 10px;
		    margin: 0;
		    -webkit-overflow-scrolling: touch;
		    &::-webkit-scrollbar {
			    display: none;
			}
		    .ui.becolor.basic.button{
				color: #666 !important;
			    box-shadow: none;
				padding:5px 12px;
				font-size: 12px;
				margin-right: 8px;
				background:rgba(0,0,0,0) !important;
				&.active{
					color: #BE8914 !important;
				    box-shadow: none;
				    background: rgba(0,0,0,0) !important;
				}
			}
		}
	}
}
/*** 返回 ***/
.ui.sheader {
    background: #fff;
    position: relative;
    box-shadow: 0 2px 3px 0 rgba(204,204,204,0.5);
    -webkit-box-shadow: 0 2px 3px 0 rgba(204,204,204,0.5);
    //border-bottom: 1px solid rgba(204,204,204,0.5);
    margin-bottom: 1px;
    a.return {
	    position: absolute;
	    width: 50px;
	    height: 50px;
	    text-align: center;
	    line-height: 50px;
	    font-size: 30px;
	    color: #666;
	}
	p {
	    font-size: 17px;
	    line-height: 50px;
	    color: #222;
	    text-align: center;
	}
}

/*** 搜索 ***/
.ui.fiushop-search{
	.ui.sheader{
		height: 50px;
		padding: 0 15px;
		font-size: 0;
		.ui.input{
			position: relative;
		}
		#search-close{
			width: 12px;
		    height: 50px;
		    padding: 19px 0;
		    display: inline-block;
		}
		#search-canlse{
			display: inline-block;
		    font-size: 12px;
		    color: #666;
		    height: 50px;
		    line-height: 50px;
		    margin: 0;
		    vertical-align: top;
		    padding-left: 10px;
		}
		form{
			display: inline-block;
		    width: ~"calc(100% - 56px)";
		    padding: 0 0;
		    vertical-align: top;
		    margin-left: 10px;
		    .ui.icon.input{
		    	.inputreset{
					position: absolute;
				    width: 14px;
				    height: 14px;
				    background: #ccc;
				    right: 8px;
				    top: 8px;
				    border-radius: 10px;
				    display: none;
				    input[type=reset]{
						position: absolute;
					    top: -8px;
					    height: 30px;
					    width: 30px;
					    font-size: 0;
					    right: 0;
					    background:url(/images/icon/close.png) no-repeat;
					    padding: 0;
					    background-size: 6px 6px;
					    background-position: 3px 11px;
					    z-index: 9;
					}
				}
		    } 
		}
	} 
	.searchlist{
		margin: 0;
		padding: 0;
		.item.button{
			color: #666!important;
		    box-shadow: none;
		    padding: 5px 0;
		    font-size: 12px;
		    margin-right: 10px;
		    background: rgba(0,0,0,0)!important;
		    border: 1px solid rgba(0,0,0,0.1);
		    margin-top: 5px;
			margin-bottom: 5px;
			a{
				color:#666 !important;
				padding: 5px 12px;
			}
		}
	}
	.ullist{
		margin: 0;
		padding: 0;
		li{
			display: block;
			border-top: 1px solid rgba(0,0,0,0.1);
			&:first-child{
				border-top: none;
				padding-top: 1px;
			}
			a{
				color:#666 !important;
				padding:10px 15px;
				font-size: 13px;
				display: block;
			}
		}
	}
}

