@import "base";

.ui.threaded.comments .comment .comments{
    box-shadow:none;
}
.ui.comments .comment{
    padding: 1em 0 0.5em;
    border-top: 1px solid rgba(224,224,224,.46);
}
.ui.comments .comment:first-child,.ui.comments a.label + .comment{
   border:0 !important;
}
.ui.comments .comment .avatar{
    height: 2.5em !important;
}
/* 未登录时评论显示 */
.not.login {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 0.2125em;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.not.login .ui.grid .column{
	padding-top: 5%;
}
.not.login .ui.grid .column .ui.gray.text{
	margin-top: 0.8em;
}
.ui.modal .third {
	padding-top: 3.5em;
}
.ui.modal .ui.vertical.divider {
    left: 54%;
}

.ui.comments .onecomment {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 1rem;
}
.ui.comments .onecomment:last-child {
    margin-bottom: 0;
    border-bottom: none;
}
.ui.comments .onecomment .avatar {
    display: block;
    float: left;
    width: 2em;
    margin-right: 0.5rem;
}
.ui.comments .onecomment .avatar img {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-radius: 500px;
    display: block;
    height: 2em;
    margin: 0 auto;
    width: 2em;
}
.ui.comments .onecomment .metadata {
    color: rgba(0, 0, 0, 0.3);
    display: inline-block;
    font-size: 0.875rem;
    line-height: 2;
    margin-left: 0.3em;
}
.ui.comments .onecomment .text {
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.325rem;
    margin: 1rem 0;
    word-wrap: break-word;
}
.ui.comments .onecomment .target {
    margin: 0 0 1rem;
    color: rgba(0, 0, 0, 0.5);
}


.ui.alarm.segment {
    padding: 20px 30px;
    text-align: center;
    
    .comment-show {
        padding-bottom: 20px;
        padding-top: 20px;
    }
    
    .mes-text {
    	border-bottom: 1px solid rgba(0,0,0,0.05);
    	width:100%;
        text-align: left;
    	padding: 20px 0;
        position: relative;
        
        .date {
            font-size: 12px;
            margin-left: 10px;
            color: @descTextColor;
        }
        .news{
        	font-size: 14px;
        	font-weight: 400;
            
            .sub_header {
            	padding-top: 10px;
            	line-height: 20px;
            }
        }
        
        a.ui.photo {
        	float: left; 
        	width: 40px; 
        	height: 40px; 
        	margin-right: 10px;
            
            img {
            	height:40px;
            	width:40px;
            	border-radius: 25px;
            }
        }
    }
}
