/*底部*/
@import "base";

#ft {
	background-color: #F1F1F1;
    border-top: 1px solid #E4E5E7;
    padding: 1.5rem 0;
    
    .ui.list {
        .item {
            font-size: 14px;
            padding: 0.25em 0;
        }
        div.active.item {
            font-size: 16px;
            padding-bottom: 0.75em;
        }
    }
    .copyright {
    	font-size: 14px;
    	line-height: 1.6;
        padding-top: 1.5rem;
        color: @descTextColor;
    }
}

.ui.circular.topup.button {
    height: 3.5em;
    width: 3.5em;
    
    >i.icon {
        font-size: 1.15em;
        height: 1.25em;
        line-height: 1.5em;
        width: 1.25em;
    }
}
