/*底部*/
@import "base";

#ft {
	background-color: #F1F1F1;
    border-top: 1px solid #E4E5E7;
    padding: 20px 0;
    
    .ui.list {
		.menuitem{
			padding:5px 0;
			line-height: 1.14285714em;
			.item{
	            font-size: @textFontSize;
	            color: @aLinkColor;
				padding:0;
				&:hover,&.active{
					color:#f36;
				}
				
			}
		}
		.appewm{
			display: inline-block;
			img{
				margin-top: 3px;
			    margin-right: 15px;
			}
			p{
				font-size: 12px;
			    text-align: center;
			    margin-right: 15px;
			    line-height: 10px;
				.ui.item:hover{
					color:#f36;
				}
			}
			
		}
        .cte.item {
            
            .ui.button {
				margin: 0 0.5em;
			    border: 1px solid rgba(112,123,135,.5);
			    background: rgba(0,0,0,0);
			    color: rgba(112,123,135,.5);
				height: 48.2813px;
				&.red:hover{
					background-color: #d01919;
				    color: #fff;
				    border: 1px solid #d01919;
				}
				&.blue:hover{
					background-color: #2185d0;
				    color: #fff;
				    border: 1px solid #2185d0;
				}
				&.green:hover{
					background-color: #21ba45;
				    color: #fff;
				    border: 1px solid #21ba45;
				}
                
                > i.icon {
                   line-height: 1em;
                   font-size: 1em
               }
            }
        }
        div.active.item {
            font-size: @titleFontSize;
            padding-bottom: 0.75em;
            color: @titleColor;
        }
    }
    .ui.rg.grid {
        border-top: 1px solid #e4e5e7;
        margin-top: 1.5rem;
    }
    .copyright {
    	font-size: 12px;
    	line-height: 1.6;
        padding-top: 0.5rem;
        color: @descTextColor;
    }
}

/* Scroll to Top */
#scrollUp {
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(112, 123, 135, 0.92);
    bottom: 16%;
    color: rgba(112, 123, 135, 0.92);
	border-radius: 0;
	width: 34px;
    height: 34px;
    padding: 0;
	border-bottom: none;
    .transition;
    
    &:hover {
    	border-color: #ff3b6b;
    	background-color: #ff3b6b;
    	color: #fff;
    }
    
    > .angle.up.icon {
        opacity: 1;
		width: 14px;
	    height: 14px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    margin-left: -7px;
	    margin-top: -10px;
	    font-size: 1.2em;
    }
}
.mb-wap{
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(112, 123, 135, 0.92);
    bottom: 16%;
    color: rgba(112, 123, 135, 0.92);
	border-radius: 0;
	width: 34px;
    height: 34px;
    padding: 0;
	margin-bottom: -34px;
	position: fixed; 
	z-index: 2147483647;
	cursor: pointer;
    .transition;
    
    &:hover {
    	border-color: #ff3b6b;
    	background-color: #ff3b6b;
    	color: #fff;
		> .sharewap{
			display: block;
		}
    }
	
    > .mobile.icon {
        opacity: 1;
		width: 14px;
	    height: 14px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    margin-left: -7px;
	    margin-top: -10px;
	    font-size: 1.2em;
    }
	
	> .sharewap {
	    background: url( http://frstatic.qiniudn.com/images%2Fsharewap.png ) center center no-repeat;
	    background-size: 100%;
	    width: 126px;
	    height: 159px;
	    position: absolute;
	    z-index: 2147483647;
	    left: -127px;
	    top: -75px;
	    display: none;
	}

}