@import "base";

/* 头部导航 */
.main {
    background: @bodyBgWhite;
	width: 100%;
	padding: 0;
	height: 70px !important;
    .transition;
    
    .ui.mainnav {
    	margin: 0 auto;
    	float: left;
        
        > .item {
        	border-top: 2px solid transparent;
            margin: 0;
        	padding: 0.5rem 1rem;
        	color: @magentaColor;
            display: block;
        	font-weight: 400;
        	opacity: 0.9;
        	vertical-align: top;
            .transition;
            
            &.active,
            &:active,
            &:hover {
            	border-top: 2px solid @magentaColor;
                color: @magentaColor;
            }
        }
    }
    
    .ui.labeled.icon.menu:not(.vertical) .item {
        padding: 0.85rem 1rem;
    }
    
    .ui.pointing.icon.menu {
        float: left;
        margin: 0;
    }
}

.header.main {
    
    .ui.grid > .row {
        padding: 0rem 0;
    }
    
    .ui.labeled.icon.menu > .item > .icon {
        display: block;
        font-size: 1.5em !important;
        margin: 0 auto 0.3em !important;
    }
    
    .logo {
    	display: block;
        float: left;
        height: 56px;
        margin: 3px 0;
        position: relative;
        width: 20%;
    	text-indent: -99em;
    	background: url("/images/frbird-logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    }
    
    .search.item {
        font-size: 1rem;
        margin-top: 1rem;
    	width:38%;
    	float: left;
        
        .ui.icon.input > input ~ .icon {
        	border-left: 1px solid rgba(244, 33, 86, 0.9);
        	color:rgba(255, 255, 255, 0.9);
        	background-color:#ff3366;
        	cursor: pointer;
        	opacity: 1;
        }
        
        .ui.input input:focus {
            border-color: rgba(244, 33, 86, 0.9);
        }
        
        &.active {
            .ui.input input {
                border-color: rgba(244, 33, 86, 0.9);
            }
            .ui.icon.input > input ~ .icon {
            	border-left: 1px solid rgba(244, 33, 86, 0.9);
            	color:rgba(255, 255, 255, 0.9);
            	background-color:#ff3366;
            	opacity: 1;
            }
        }
        
        .ui.icon.input {
            >.icon {
                border-left: 1px solid rgba(0, 0, 0, 0.25);
            }
            > input:focus ~ .icon {
            	border-left: 1px solid rgba(244, 33, 86, 0.9);
            	color:rgba(255, 255, 255, 0.9);
            	background-color:#ff3366;
            	opacity: 1;
            }
        }
        
    }
} 

/* 导航用户框 */
.header.main {
    .ui.login.button {
        background: transparent;
    	padding: 0.8em 0;
    	font-weight: 400;
    	margin-right: 0.8em;
        margin-bottom: 0.6em;
        
        &:hover {
        	color: #FF3366;
        }
    }
    
    .ui.labeled.icon.menu > .item {
        min-width: 5em;
    }
    
    .right.floated {
        float: right;
    }
    
    .auth {
        margin-top: 1rem;
    }
    
    .ui.user-setting.button {
    	border: none;
    	background: #fff;
    	padding: 0 0 0 0.8em;
        
        &:hover,
        &.active {
          border: none;
          background: none;
        }
        >a.link:hover {
        	text-decoration: none;
        }
    }
    
    .ui.how-work.button,
    .ui.secondary.user.menu {
    	margin-top: 1rem;
    	font-weight: 400;
    	float: left;
    }
    .ui.how-work.button {
    	border: medium none;
        margin-left: 1em;
        padding: 0.8em 0;
        
        &:hover {
        	background: none;
        	border-color: none;
        	color: #FF3b6b;
        }
    }
    .ui.basket.button {
    	background: transparent;
        position: relative;
        
        
        &:hover,
        &.active {
        	color: #FF3b6b;
        }
        
        .alarm.outline.icon,
        .in.cart.icon {
            font-size: 18px;
        }
        
        >.floating.label {
            font-size: 10px;
            height: 15px;
            left: 80%;
            top: -15%;
            width: 15px;
            background-color: #FF3b6b;
            color: #fff;
        }
        
        .header {
            color: @aLinkColor;
            
            .ui.link {
                display: inline-block;
                font-size: @textFontSize;
                font-weight: 400;
                text-align: center;
                width: 50%;
                
                &:hover {
                    color: #FF3b6b;
                }
            }
        }
    }
    
    .ui.secondary.user.menu {
        float: right;
        position: relative;
    	font-size: 1rem;
    	margin-top: 1rem;
        
        .ui.avatar.image {
        	margin-right: 0;
        }
    }
}

/* 搜索表单 */
#submitform {
	margin-top: 1em;
	margin-bottom: 1em;
    
    .new.title {
    	margin-bottom: 1em;
        
        .icon-link {
        	font-size: 0.875em;
        	text-decoration: none;
        }
    }
    .ui.seg.grid {
    	padding: 0 1.5%;
    }
    .ui.level > .actions > .button {
    	margin: 0.8em auto;
    	padding: 0.8em;
    }
}

/* 购物车icon */
.ui.login-user {
    >.ui.basket.button {
        background: transparent;
        float: left;
        font-size: 0.85em;
        margin-right: 0.75em;
        padding: 0.5em 0;
        position: relative;
	vertical-align: middle;       
 
        &.active {
        	color: #FF3366;
        	background-color: #fff;
        }
        
        >.ui.circular.label {
        	background-color: #FF3366;
            border-radius: 500rem;
            color: #FFFFFF;
            font-size: 0.6125rem;
            height: 1.8em;
            line-height: 1em;
            padding: 0.4em !important;
            text-align: center;
            width: 1.8em;
        	top: -0.4em;
        }
    }    
}

.header {
    &.fixed {
    	position: fixed;
     	top: 0;
     	left: 0;
     	z-index: 1000;
    	border-bottom: 0px solid #E4E5E7;
        
        &.shrink {
        	border-bottom: 1px solid #E4E5E7;
        }
        
    }
    &.shrink {
    	height: 50px;
    	background: none repeat scroll 0 0 rgba(255,255,255,1);
        
        &.main {
            .logo {
            	background: url("/images/text-logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
            	height: 19px;
            	margin: 14px 0;
            }
            
            .ui.main-nav > .item {
            	padding-top: 0rem;
            	border-top: medium none;
            	line-height: 48px;
                
                > .icon {
                	display: none;
                }
                
                &.active,
                &:hover {
                	border-top: medium none;
                	padding-top: 0px;
                	line-height: 48px;
                }
            }
            
            .search.item {
            	font-size: 0.875rem;
            	margin-top: 0.5em;
            }
            
            .ui.how-work.button,
            .ui.secondary.user {
            	margin-top: 0.25em;
            }
        }
    }
}

.ui.secondary.menu .ui.dropdown .menu .item {
    padding: 0.85em 2.5em 0.85em 1em !important;
}

#basket-item-wrapper p {
    margin-top: 5px;
}
