@import "base";

/* 社区 */
#topics {
    .flex-direction-nav {
        a::before {
            color: #fff;
        }
    }
}

.mainwrap {
    .mainright {
        .sellwrap.usersign {
            
            .reg-border {
                margin: 0 auto;
                padding: @twoPadding 0;
                position: relative;
                
                .adreg {
                    width: 100px;
                	padding: 0 @padding;
                	display: inline-block;
                    
                    b {
                        color: @magentaColor;
                    }
                }
            }
            
    		.add {
    	        position: absolute;
    			top: 20px;
    			text-align: center;
    			left: 0;
    			color: rgba(0,0,0,0);
    			width: 128px;
    			font-size: 14px;
    			opacity: 1;
    			z-index: -1;
                .transition(all, 1.5s, ease, 0s);
    		}
    		.add-active{
    		    top: -10px;
    			z-index: 3;
    			color: #222;
    			transition-delay: 0.3s;
    			-webkit-animation: arrow 1.5s ease both;
    			-moz-animation: arrow 1.5s ease both;
    			animation: arrow 1.5s ease both;
    		}
        }
        
        .ui.labeled.icon.menu .item {
            > .icon {
                font-size: 1.82857em !important;
            }
        }
        
        .ui.menu,
        .ui.vertical.menu {
            box-shadow: none;
        }
        .ui.category.menu {
            font-size: 1rem;
            
            > .item {
                line-height: 1.5rem;
            }
        }
        
        .ui.articles.list {
            padding-bottom: @padding;
            margin-left: @margin;
            
            .item {
                font-size: @textFontSize;
                letter-spacing: 0.2px;
                text-decoration: none;
                padding: @halfPadding 0px;
                line-height: 20px;
                color: @aLinkColor;
                
                &:hover {
                    color: @magentaColor;
                }
            }
        }
        
        .mentors {
            margin: @twoMargin auto 0;
            text-align: center;
            
            .popup {
                text-align: left;
            }
            
            .ui.avatar.images .image {
                margin: 0 @margin 0 0;
                width: 40px;
                
                a {
                    display: inline-block;
                    position: relative;
                }
                
                img {
                    width: 40px;
                }
            }   
        }
    }
    
}

.reply.box {
    border-top: 1px solid rgba(224, 224, 224, 0.46);
    text-align: left;
}
#comment-list {
    padding: 1.5rem 31px;
    
    .ui.comments {
        max-width: 100%;
    }    
}
#postpage .post.comment {
    padding: 1.5rem 31px 3rem;
    margin-left: 0;
}
.topics.masthead {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    min-height: 200px;
    padding: 31px 0;
    
    .ui.horizontal.bulleted.list > .item::before {
        color: #fff;
    }
}

#topiclist {
    margin-top: 5px;
	padding-bottom: 2.5rem;
    
    .sortby {
        .ui.item.menu {
            border: medium none;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            box-shadow: none;
            
            .item:first-child {
                border-top-left-radius: 0px !important;
            }
            
            .item:last-child {
                border-bottom-left-radius: 0px !important;
            }
        }
    }
}

.activity.summary {
    background-color: #fff;
    line-height: 3.5;
    text-align: center;
    
    span {
        margin-right: 2rem;
    }
}

#activitypage {
    
    #signup-avatar {
    	padding: 12px;
        
        .image {
        	width: 60px;
        	height: 60px;
        	display: inline-block;
        	padding: 6px 4px;
            
            img {
            	width: 60px;
            	height: 60px;
            	opacity: 0.5;
            	border-radius: 50%;
                
                &.beat {
                    opacity: 1;
                }
            }
        }
    }
    
    .activity.overview {
        border-top: 1px solid rgba(224, 224, 224, 0.46);
    }
    .activity.report .aettend-box {
        margin: 1.5rem auto;
        
        p {
            margin-top: 0.5rem;
        }
    }
    
    .sellwrap .rbox {
        margin-top: 12px;
    }
}

.ui.topics.cards {
    > .card {
        > .problock > .counter > i {
            margin-left: 0.5rem;
        }
    }
} 

.topics.masthead {
	color: white;
	padding: 80px 0 40px;
	background-position: center center;
	background-color: rgba(56, 67, 77, 0.9);
	background-repeat: no-repeat;
    background-size: cover;
}
.topics.catemenu {
    .ui.grid {
        padding: 0 @twoPadding;
    }
    .block.title {
    	margin-bottom: 1.5rem;
    }
    
    a.cate {
    	border-bottom: 2px solid transparent;
        color: #fff;
        padding: 5px 0;
        text-decoration: none;
        
        &:hover {
        	border-bottom: 2px solid #fff;
        }
    }
    
    hr {
    	background: none repeat scroll 0 0 #fff;
        border: medium none;
    	display: inline-block;
        height: 2px;
        width: 130px;
    }
    
    .children {
        margin-top: 2rem;
        
        .ui.button {
        	margin-right: 0.5rem;
        	margin-bottom: 0.75rem;
        	min-width: 175px;
        	padding: 0.8em 1.5em;
        }
    }
    
    .stast {
    	margin-bottom: 1rem;
        
        .space {
        	font-size: 0.875rem;
            margin: 0 0.5rem;
        }
        
        > .ui.horizontal.list > .item {
        	font-size: 0.875rem;
        }
    }
    
}

.topics.sortby {
    margin-bottom: 20px;
}
.ui.topics.segment {    
    .ui.block {
        margin: 0;
    }
    .ui.table {
        border: none;
    }
}

.ui.topic.table {
    td {
    	padding: 10px 10px 0px;
    }
    td.author {
    	vertical-align: top;
    	text-align: center;
    }
    tr:hover .dot-irecommend,
    .dot-irecommend:hover {
    	background-color: #f42156;
    	color: #fff;
    }
    .title {
    	margin: 0px 0 5px;
        
        .category {
            font-size: @titleFontSize;
        }
        
        a {
            span.ui.label:first-child {
                margin-left: 10px;
            }
        }
    }
    
    .content {
        position: relative;
        
        .attribute {
        	margin: 0 0 0.75em;
        	font-size: @smallFontSize;
            
            a:hover {
            	text-decoration: none;
            	color: #f36;
            }
        }
        
        .ui.mini.images {
            display: inline-block;
            width: 65%;
        }
        
        .description {
        	color: @descTextColor;
            margin-bottom: @margin;
            display: inline-block;
            width: 65%;
            min-height: 45px;
        }
        
        .last.reply {
            font-size: @smallFontSize;
        }
        
        .dot-irecommend {
            position: absolute;
            right: 0;
            top: 10%;
            z-index: 99;
        }
    }
}

.auto.loading {
    margin-top: @twoMargin;
    text-align: center;
    
    .ui.more.button {
        color: @aLinkColor;
        
        &:hover {
            color: @aHoverColor;
        }
    }
}

.topic.guess {
    padding: @twoPadding 0 0;
}

.topic-title-color-red > a{
    color:#ff002b !important;
}
.topic-title-color-blue > a{
    color:#245dc1 !important;
}

#postpage {
    .ui.big.segment {
        padding: @padding 30px @twoPadding;
        
        .ui.header {
            .content {
                color: @defaultColor;
                font-size: @bigFontSize;
                line-height: 1.2;
                margin-left: 0.5em;
            	margin-top: 0.5em;
                width: 85%;
                
                .attribute {
                	margin: @margin 0;
                	font-size: @smallFontSize;
                	color: @textColor;
                }
            }
        }
        
        .actions {
        	margin-top: @twoMargin;
        }
    }
    
    .post {
        font-size: @textFontSize;
        line-height: 1.5;
        
        .ui.contest {
        	margin-bottom: 1rem;
        	border-top: 1px solid #eee;
        	border-bottom: 1px solid #eee;
        	padding: 0.8em 0;
        	text-align: center;
        }
        
        hr {
        	background-color: #c3bbbe;
            border: medium none;
            height: 1px;
            margin: 0 auto;
            width: 90%;
        }
        
        span.f-img-wrap {
            display: block;
            line-height: 0;
            text-align: center;
        }
        
        a.f-link {
        	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            color: #ff3366;
            text-decoration: none;
            
            &:hover {
            	text-decoration: none;
            	border-bottom: 1px solid #ff3366;
            }
        }
        
    } 
    
    .tags {
        font-size: @textFontSize;
        line-height: 1.5;
        margin-top: @twoMargin;
        
        .ui.link {
        	margin-right: @margin;
            text-decoration: none;
            
            &:hover {
                color: #ff3366;
            }
        }
    }
    
    .ui.icon.buttons .button, 
    .ui.buttons .icon.button {
    	padding: 0.8em 0.9em;
    }
    
    .ui.comments {
        .comment {
            .content {
                .metadata {
                    color: rgba(0, 0, 0, 0.3);
                }
                
                .laud {
                    float: right;
                }
                
                .text {
                    margin: 0.5em 0 1em;
                }
            }
            
            .actions {
                margin-left: 0em;
                margin-top: 1.5em;
            }
        }
    }
    
} 

#subject .ui.header .picicon,
#postpage .ui.header .picicon {
	padding-right: 0em;
	color: #f15959;
}
#subject .ui.timer.list > .item > .count,
#postpage .ui.timer.list > .item > .count {
    margin-right: 0.15em;
	margin-left: 0.15em;
    font-size: 1.25em;
}
#subject .ui.timer.list > .item:first-child > .count,
#postpage .ui.timer.list > .item:first-child > .count {
	margin-left: 0em;
}
#subject .ui.timer.list > .item > .count > span,
#postpage .ui.timer.list > .item > .count > span {
	font-size: 0.5em;
	color: rgba(0,0,0,0.6);
	margin-left: 0.15em;
}
