/* 评测页面 */
.mainwrap.social {
    margin-top: 5px;
}
#triespage .ui.tries.cards {
    margin-top: -0.4rem;
    padding: 1.5rem;
}
.tryapply {
    p {
        margin: 1.5rem 12px;
        line-height: 1.5;
    }
    .steps {
        text-align: center;
    }
    .circle {
        background: #3cc9b4 none repeat scroll 0 0;
        border-radius: 50%;
        color: #fff;
        display: block;
        font-size: 18px;
        height: 100px;
        line-height: 100px;
        margin: 0.5rem auto;
        text-align: center;
        width: 100px;
    }
    .litle.fu {
    	color: #3cc9b4;
    	font-size: 40px;
    	display:inline-block;
    	height: 40px;
    	vertical-align: middle;
    	line-height: 40px;
    	margin: 0 40px;
    }
}
.tryfirm img {
    margin: 12px 5px 5px 0;
    width: 130px;
}
#trypage .product.reviews {
    margin-top: 12px;
    padding-bottom: 3rem;
}
#trypage .post.comment {
    margin-top: 1.5rem;
    margin-left: 0;
}
.ui.reply.form .right.aligned.column {
    display:inline-block;
    float:right;
}
.ui.reply.form:after {
    
}

.try.masthead {
	color: white;
    background-color: rgba(56, 67, 77, 0.9);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.try.masthead .container {
    padding: 100px 0 60px;
}
.try.masthead .buttons {
	margin-top: 3rem;
}
.ui.try .ui.three.items .magenta.item .image+.content{
	margin-left: 0;
	padding: 1rem 1rem 55px !important;
	height: 150px;
}
.ui.try .i-stats {
	position: absolute;
	padding-top: 25px;
	bottom: 10px;
	left: 1rem;
	right: 1rem;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 26%);
}
.ui.try .i-stats .trycm{
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 0.5rem;
    padding-top: 0.7rem;
}
.ui.try .i-stats .trycm .name{
	margin-bottom: 0.3em;
}
.try .masthead .column {
	padding-top: 80px;
}
.try .masthead .ui.header {
	font-size: 2rem;
	margin-bottom: 0.75em;
}
.try .masthead .ui.header .sub.header {
	color: #fff;
	margin-top: 1em;
}
.try .mainlist {
	margin: 2rem auto;
}
.try .mainlist .ui.items .item > .content > .name,
.try .mainlist .ui.items .item > .content > .result {
	color: rgba(0, 0, 0, 0.6);
	font-size: 0.95em;
	margin-bottom: 0.5em;
}
.try .mainlist .ui.items .item > .content > .name {
	margin-bottom: 0.75em;
}
.try .mainlist .ui.items .item:hover .count,
.try .mainlist .ui.items .item:hover .time {
	color: #ff3366;
}

#trypage .ui.reply.segment {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
}
#trypage .ui.post.segment {
	padding: 0 0 0 5em;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
}
#trypage .ui.comments .comment > .content > .laud {
    float: right;
}
#product-apply-people > .ui.list > .item > .content {
    display: block;
    line-height: 1.5em;
    margin-top: 0.5em;
    text-align: center;
}
#product-apply-people .item > .content > span {
    display: inline-block;
    min-height: 1em;
}

.try .apply {
	margin-top: 1.5em;
}
.try .apply .big {
    margin-right: 0.15em;
    font-size: 1.25em;
}
.try .apply .ui.timer.list > .item > .count {
    margin-right: 0.15em;
	margin-left: 0.15em;
    font-size: 1.25em;
}
.try .apply .ui.timer.list > .item:first-child > .count {
	margin-left: 0em;
}
.try .apply .ui.timer.list > .item > .count > span {
	font-size: 0.65em;
	margin-left: 0.15em;
}